@import '../../../utils/utils';

.project {
    display: flex;
    flex-direction: row;
    min-height: 200px;
    background-color: #282828;
    border-radius: 4px;
    color: white;
    text-decoration: none;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    transition: all 0.1s ease-in-out;
    .type {
        border-radius: 4px 0 0 4px;
        display: flex;
        text-align: center;
        text-orientation: sideways;
        writing-mode: vertical-lr;
        width: 10px;
        justify-content: center;
        align-items: center;
        &.PERSONAL {
            background-color: $accent-color;
        }
        &.SCHOOL {
            background-color: $secondary-color;
        }
    }
    .image {
        min-width: 200px;
        min-height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .details {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        & > .title {
            text-align: center;
            font-size: 20pt;
            font-family: "Prompt";
            color: $accent-color;
        }
        & > .description {
            padding: 15px;
            flex-grow: 1;
            // text-align: justify;
            font-size: 14pt;
        }
        & > .period {
            text-align: center;
            font-family: "Prompt";
            color: rgba(white, 0.4);
        }
    }
    &:hover {
        transform: translateX(-2px) translateY(-2px);
        box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    }
}

@media (max-width: 720px) {
    .project {
        min-height: 100px;
        .image {
            min-width: 100px;
            min-height: 100px;
        }
        .details {
            padding: 5px 0;
            & > .title {
                font-size: 15pt;
            }
            & > .description {
                font-size: 12pt;
            }
            & > .period {
                font-size: 10pt;
            }
        }
    }
}