$background-color: #1e1e1e;
$accent-color: #ff7f00;
$secondary-color: #0077ff;

@font-face {
    font-family: "Roboto";
    src: url("../assets/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Prompt";
    src: url("../assets/Prompt-Regular.ttf");
}