@import 'utils/utils';

.App {
    position: relative;
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
    & > *:nth-child(2) {
        padding: 2% 10%;
        flex-grow: 1;
    }
    .app-wrapper {
        overflow-x: hidden;
    }
}